
.App {
  background-color: rgb(82, 15, 224);
  width: 100vw; 
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.main-container{
  height: 100%;
  margin: 0;
  padding: 0;
}


.searchBarContainer {
  padding-top: 20vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}