.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}


.searchBarContainer {
  padding-top: 20vh;
  width: 40%;
  display: flex;
  margin-left: 25%;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
}


.elements-container{
  display: inline-flex;
  width: 100%;
}

.button-add-container{
  padding-top: 20vh;
  align-items: center;
  text-align: center;
  display:table-cell;
  vertical-align:middle;
  line-height: 0px;
}